.game-footer-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	margin-bottom: 16px;
}

.game-footer-clues {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $font-size-xs;
}

.game-error {
	color: $color-red;
}

@media only screen and (max-height: $md) {
	.game-footer-container {
		width: 325px;
	}
}
