.game-footer-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.game-footer-points {
	display: flex;
	justify-content: center;
	font-size: $font-size-xs;
}

.game-error {
	color: $color-red;
}
