.more-button {
	font-size: $font-size-xs;
	min-width: 160px;
	white-space: nowrap;
	flex-shrink: 0;
}

.lost-button {
	font-size: $font-size-xs;
	min-width: 160px;
	white-space: nowrap;
	background-color: $color-red;
	flex-shrink: 0;
}

.check-result {
	display: flex;
	align-items: center;
	gap: 6px;
	white-space: nowrap;

	span {
		font-size: $font-size-s;
		white-space: nowrap;
	}
}

.get-hint {
	display: flex;
	align-items: center;
	gap: 6px;
	white-space: nowrap;

	span {
		font-size: $font-size-s;
		white-space: nowrap;
	}
}
