@import '../../assets/styles/variables.scss';

.more-button {
	font-size: $font-size-xs;
	width: 160px;
}

.lost-button {
	font-size: $font-size-xs;
	width: 180px;
	background-color: $color-red;
}

.check-result {
	font-size: $font-size-s;
}

.get-hint {
	display: flex;
	align-items: center;
	gap: 6px;

	span {
		font-size: $font-size-s;
	}
}
