@import '../../assets/styles/variables';

.loader-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.loader-emoji {
	display: flex;
	justify-content: center;
	font-size: $font-size-lg;
	animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
