@import '../../assets/styles/variables.scss';

.guess-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 76px;
	background-color: $color-green;
	color: $color-surface;
	font-size: $font-size-xs;
}

.button-disabled {
	cursor: not-allowed;
	opacity: 0.4;
	pointer-events: none;
}
