@import '../../assets/styles/variables.scss';

.guess-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 70px;
	background-color: $color-green;
	font-size: $font-size-xs;
}

.button-disabled {
	cursor: not-allowed;
	opacity: 0.3;
}
