@import '../../assets/styles/variables.scss';

.button-year {
	background-color: $color-purple;
}

.button-genre {
	background-color: $color-yellow;
	height: fit-content;
	padding: 6px 8px;
}

.button-tag-1 {
	background-color: $color-green;
}

.button-tag-2 {
	background-color: $color-white;
}

.button-tag-3 {
	background-color: $color-purple;
}

.button-tagline {
	background-color: $color-blue;
	font-size: $font-size-xs;
	height: fit-content;
	padding: 6px 8px;
}

.button-actor {
	background-color: $color-yellow;
}

.button-result {
	height: fit-content;
	background-color: $color-white;
}
