@import '../../assets/styles/variables.scss';

.hangman-figure {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	word-break: normal;
	white-space: pre-wrap;
	line-height: 1;
	margin-bottom: 2px;
}

.hangman-figure__char {
	font-weight: 500;
	font-size: $font-size-s;
	font-family: $main-font;
}
