@import '../../assets/styles/variables';

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 16px 0;
	height: 100%;
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	gap: 28px;
}

.clues-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

@media only screen and (max-width: $lg) {
}

@media only screen and (max-width: $sm) {
}
