@import '../../assets/styles/variables';

.layout-container {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: $lg;
	overflow: hidden;
}

@media only screen and (max-width: $md) {
	.layout-container {
		width: min(340px, calc(100vw - 24px));
	}
}
