@import '../../assets/styles/variables.scss';

.button-help {
	background-color: $color-yellow;
}

.button-reset {
	background-color: $color-green;
}

.button-home {
	background-color: $color-yellow;
}
