// FONTS
$main-font: 'Inter';

// SCREEN SIZES
$sm: 400px;
$md: 600px;
$lg: 1200px;

// COLORS
$color-white: #fff;
$color-black: #000;
$color-purple: #c7b9ff;
$color-blue: #699bf7;
$color-orange: #ff8577;
$color-yellow: #ffc700;
$color-green: #0fa958;
$color-red: #fa0b0b;

// FONT SIZES
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
